# =========================================
# Gradle & Build
# =========================================
# Gradle 캐시 폴더
.gradle/

# 빌드 결과물 폴더
build/


# =========================================
# IDE (IntelliJ)
# =========================================
# .idea 폴더 전체를 무시
.idea/

# Gradle/Maven 프로젝트에서 자동으로 생성되는 모듈 설정
*.iml

# IntelliJ 빌드 결과물 폴더 (레거시)
out/

# =========================================
# IDE (VS Code)
# =========================================
.vscode/

# =========================================
# Java & Dependency
# =========================================
# 컴파일된 클래스 파일
*.class

# 로그 파일
*.log

# 패키징된 라이브러리/실행 파일
*.jar
*.war

# JVM 크래시 로그
hs_err_pid*
replay_pid*


# =========================================
# 운영체제 (OS)
# =========================================
# macOS
.DS_Store

# Windows
Thumbs.db
