<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelaef.org">
<head>
  <meta charset="UTF-8">
  <title>Variable Expression</title>
  <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div>
  <!--  /user/variable-->
  <!--  <div th:text="${user.name}"></div>-->
  <!--  <div th:text="${user.email}"></div>-->
  <!--  <div th:text="${user.gender}"></div>-->
  <!--  <div th:text="${user.role}"></div>-->

  <!--  /user/selection-->
  <!--  현재 div 안에서 사용할 기준 객체를 설정-->
  <!--  <div th:object="${user}">-->
  <!--    <div th:text="*{name}"></div>-->
  <!--    <div th:text="*{email}"></div>-->
  <!--    <div th:text="*{gender}"></div>-->
  <!--    <div th:text="*{role}"></div>-->
  <!--  </div>-->

  <!--  /user/message-->
  <!--  messages.properties를 활용한 전역설정 값 사용-->
  <!--  <div th:text="#{app.name}"></div>-->
  <!--  <div th:text="#{welcome.message}"></div>-->

  <!--  /user/link-->
  <!--  a 태그 링크 및 static source 연결-->
  <!--<a th:href="@{/}">go to index</a>-->
  <!--<a th:href="@{/user/link/{id}(id=${id})}">link with param</a>-->

  <!--  if, unless-->
  <!--  <div th:each="user, userStat : ${users}">-->
  <!--    <div th:text="${userStat.count}"></div>-->
  <!--    <div th:text="${user.name}"></div>-->
  <!--    <div th:text="${user.email}"></div>-->
  <!--    <div th:text="${user.gender}"></div>-->
  <!--    <div th:text="${user.role}"></div>-->
  <!--    <div th:if="${user.role} == 'admin'">if문에 관리자가 나타났다!</div>-->
  <!--    <div th:if="${user.role} != 'admin'">if문에 사용자가 나타났다!</div>-->
  <!--    <div th:unless="${user.role} == 'admin'">unless문에 사용자가 나타났다!</div>-->
  <!--    <div th:unless="${user.role} != 'admin'">unless문에 관리자가 나타났다!</div>-->
  <!--  </div>-->

<!--  <div th:each="user, userStat: ${users}">-->
<!--    <div th:text="${userStat.count}"></div>-->
<!--    <div th:switch="${user.gender}">-->
<!--      <div th:case="'female'">여성</div>-->
<!--      <div th:case="'male'">남성</div>-->
<!--      <div th:case="*">중성</div>-->
<!--    </div>-->

  <div th:text="${form.name}"></div>
  <div th:text="${form.profession}"></div>
  </div>
</div>
</body>
</html>